version: '3.8'

services:
  backend:
    build: ./backend
    container_name: ceu_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
    command: python manage.py runserver 0.0.0.0:8000

  frontend:
    image: node:20-alpine
    container_name: ceu_frontend
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    command: sh -c "rm -f package-lock.json && npm install --no-package-lock --force && npm run dev -- --host 0.0.0.0"